h3, h1, * {
    font-family: 'Atkinson Hyperlegible';
    font-size: 25px;
    color: rgb(230, 230, 230);
}
html {
    background-color: rgb(192, 192, 192);
    background-color: black;
}

#box {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    height: 50px;
    width: 50px;
    background-color: blue;
    position: absolute;
    animation-name: frem-og-tilbake;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes frem-og-tilbake {
    0% {
        rotate: 45;
        background-color: black;
    }
    100% {
        background-color: white;
    }
}

